﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/bower_components/jquery-ui/themes/base/jquery-ui.css")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-color">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dodaj trgovca", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trgovac na malo", "Index", "TrgovacNaMaloes")</li>
                    <li>@Html.ActionLink("Trgovac na veliko", "Index", "TrgovacNaVelikoes")</li>
                    <li>@Html.ActionLink("Kupljeni proizvodi", "Index", "KupljeniProizvodiPP")</li>
                    <li>@Html.ActionLink("Prodati proizvodi", "Index", "ProdatiProizvodiPP")</li>
                    <li>@Html.ActionLink("Stanje zaliha", "Index", "StanjeZalihaPP")</li>
                    <li>@Html.ActionLink("Kupljeni proizvodi (G)", "Index", "KupljeniProizvodiU")</li>
                    <li>@Html.ActionLink("Prodati proizvodi (G)", "Index", "ProdatiProizvodiU")</li>
                    <li>@Html.ActionLink("Stanje zaliha (G)", "Index", "StanjeZalihaU")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
