﻿@model PagedList.IPagedList<MvcTrgovac.Models.MasterModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Stanje zaliha prvo polugodište";
}

@using (Html.BeginForm("Index", "StanjeZalihaPP", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="search-background">
        <div class="form-group">
            <i class="glyphicon glyphicon-search"></i>
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control input-sm" })
        </div>
    </div>
}

<div class="headline">
    <h5 class="text-center">Podaci o stanju zaliha duvanskih proizvoda</h5>
</div>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                <div class="form-group">
                    @using (Html.BeginForm("Index", "StanjeZalihaPP", FormMethod.Get))
                    {
                        <label for="SifraVDP">
                            @Html.ActionLink("Šifra vrste duvnskog proizvoda", "Index", new { sortOrder = ViewBag.SvdpSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "sort-link" })
                            @Html.TextBox("SifraVDP", null, new { @class = "form-control input-sm" })
                        </label>
                    }
                </div>
            </th>
            <th>
                <div class="form-group">
                    @using (Html.BeginForm("Index", "StanjeZalihaPP", FormMethod.Get))
                    {
                        <label for="SifraRM">
                            @Html.ActionLink("Šifra robne marke", "Index", new { sortOrder = ViewBag.SrmSortParm, currentFilter = ViewBag.CurrentFilter })
                            @Html.TextBox("SifraRM", null, new { @class = "form-control input-sm" })
                        </label>
                    }
                </div>
            </th>
            <th>
                <div class="form-group">
                    @using (Html.BeginForm("Index", "StanjeZalihaPP", FormMethod.Get))
                    {
                        <label for="SifraJM">
                            @Html.ActionLink("Šifra jedinice mere", "Index", new { sortOrder = ViewBag.SjmSortParm, currentFilter = ViewBag.CurrentFilter })
                            @Html.TextBox("SifraJM", null, new { @class = "form-control input-sm" })
                        </label>
                    }
                </div>
            </th>
            <th>
                <div class="form-group">
                    @using (Html.BeginForm("Index", "StanjeZalihaPP", FormMethod.Get))
                    {
                        <label for="StZalihaPocPolugodja">
                            @Html.ActionLink("Stanje zaliha 1.1", "Index", new { sortOrder = ViewBag.SzalhPPSortParm, currentFilter = ViewBag.CurrentFilter })
                            @Html.TextBox("StZalihaPocPolugodja", null, new { @class = "form-control input-sm" })
                        </label>
                    }
                </div>
            </th>
            <th>
                <div class="form-group">
                    @using (Html.BeginForm("Index", "StanjeZalihaPP", FormMethod.Get))
                    {
                        <label for="StZalihaKrPolugodja">
                            @Html.ActionLink("Stanje zaliha 30.6", "Index", new { sortOrder = ViewBag.SzalhKPSortParm, currentFilter = ViewBag.CurrentFilter })
                            @Html.TextBox("StZalihaKrPolugodja", null, new { @class = "form-control input-sm" })
                        </label>
                    }
                </div>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SifraVDP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SifraRM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SifraJM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StZalihaPocPolugodja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StZalihaKrPolugodja)
                </td>
                <td style="min-width: 145px;">
                    <button type="button" onclick="location.href='@Url.Action("Edit", "StanjeZalihaPP", new { id = item.Id })'" class="btn btn-default">Edit</button> |
                    <button type="button" onclick="location.href='@Url.Action("Delete", "StanjeZalihaPP", new { id = item.Id })'" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        }

    </table>
</div>

<div class="add-button">
    <button type="button" onclick="location.href='@Url.Action("Create", "StanjeZalihaPP")'" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> ADD</button>
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

