﻿@model IEnumerable<MvcTrgovac.Models.TrgovacNaVeliko>

@{
    ViewBag.Title = "Trgovac na veliko";
}

@using (Html.BeginForm("Index", "TrgovacNaVelikoes", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="search-background">
        <div class="form-group">
            <i class="glyphicon glyphicon-search"></i>
            @Html.TextBox("searchString", null, new { @class = "form-control input-sm" })
        </div>
    </div>
}

<div class="headline">
    <h5 class="text-center">Trgovac na veliko</h5>
</div>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                <div class="form-group">
                    @using (Html.BeginForm("Index", "TrgovacNaVelikoes", FormMethod.Get))
                    {
                        <label for="Datum">
                            @Html.DisplayNameFor(model => model.Datum)
                            @Html.TextBox("Datum", null, new { @class = "form-control input-sm" })
                        </label>
                    }
                </div>
            </th>
            <th>
                <div class="form-group">
                    @using (Html.BeginForm("Index", "TrgovacNaVelikoes", FormMethod.Get))
                    {
                        <label for="BrojUgovora">
                            @Html.DisplayNameFor(model => model.BrojUgovora)
                            @Html.TextBox("BrojUgovora", null, new { @class = "form-control input-sm" })
                        </label>
                    }
                </div>
            </th>
            <th>
                <div class="form-group">
                    @using (Html.BeginForm("Index", "TrgovacNaVelikoes", FormMethod.Get))
                    {
                        <label for="PIB">
                            @Html.DisplayNameFor(model => model.PIB)
                            @Html.TextBox("PIB", null, new { @class = "form-control input-sm" })
                        </label>
                    }
                </div>
            </th>
            <th>
                <div class="form-group">
                    @using (Html.BeginForm("Index", "TrgovacNaVelikoes", FormMethod.Get))
                    {
                        <label for="naziv">
                            @Html.DisplayNameFor(model => model.Naziv)
                            @Html.TextBox("naziv", null, new { @class = "form-control input-sm" })
                        </label>
                    }
                </div>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrojUgovora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PIB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td style="min-width: 145px;">
                    <button type="button" onclick="location.href='@Url.Action("Edit", "TrgovacNaVelikoes", new { id = item.ID })'" class="btn btn-default">Edit</button> |
                    <button type="button" onclick="location.href='@Url.Action("Delete", "TrgovacNaVelikoes", new { id = item.ID })'" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        }

    </table>
</div>

<div class="add-button">
    <button type="button" onclick="location.href='@Url.Action("Create", "TrgovacNaVelikoes")'" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> ADD</button>
</div>