﻿@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table id="movie" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movie").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: "",
                },
                columns: [
                    {
                        data: "name",
                    },
                    {
                        data: "genre.name"
                    }
                ]
            });
        });
    </script>
}

