﻿@model IEnumerable<MvcTrgovac.Models.TrgovacNaMalo>

@{
    ViewBag.Title = "Trgovac na malo";
}

@using (Html.BeginForm("Index", "TrgovacNaMaloes", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="search-background">
        <div class="form-group">
            <i class="glyphicon glyphicon-search"></i>
            @Html.TextBox("searchString", null, new { @class = "form-control input-sm" })
        </div>
    </div>
}

<div class="headline">
    <h5 class="text-center">Trgovac na malo</h5>
</div>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                <div class="form-group">
                    @using (Html.BeginForm("Index", "TrgovacNaMaloes", FormMethod.Get))
                    {
                        <label for="BrDozvole">
                            @Html.DisplayNameFor(model => model.BrDozvole)
                            @Html.TextBox("BrDozvole", null, new { @class = "form-control input-sm" })
                        </label>
                    }
                </div>
            </th>
            <th>
                <div class="form-group">
                    @using (Html.BeginForm("Index", "TrgovacNaMaloes", FormMethod.Get))
                    {
                        <label for="naziv">
                            @Html.DisplayNameFor(model => model.Naziv)
                            @Html.TextBox("naziv", null, new { @class = "form-control input-sm" })
                        </label>
                    }
                </div>
            </th>
            <th>
                <div class="form-group">
                    @using (Html.BeginForm("Index", "TrgovacNaMaloes", FormMethod.Get))
                    {
                        <label for="adresa">
                            @Html.DisplayNameFor(model => model.Adresa)
                            @Html.TextBox("adresa", null, new { @class = "form-control input-sm" })
                        </label>
                    }
                </div>
            </th>
            <th>
                <div class="form-group">
                    @using (Html.BeginForm("Index", "TrgovacNaMaloes", FormMethod.Get))
                    {
                        <label for="PIB">
                            @Html.DisplayNameFor(model => model.PIB)
                            @Html.TextBox("PIB", null, new { @class = "form-control input-sm" })
                        </label>
                    }
                </div>
            </th>
            <th>
                <div class="form-group">
                    @using (Html.BeginForm("Index", "TrgovacNaMaloes", FormMethod.Get))
                    {
                        <label for="MaticniBroj">
                            @Html.DisplayNameFor(model => model.MaticniBroj)
                            @Html.TextBox("MaticniBroj", null, new { @class = "form-control input-sm" })
                        </label>
                    }
                </div>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrDozvole)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PIB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaticniBroj)
                </td>
                <td style="min-width: 145px;">
                    <button type="button" onclick="location.href='@Url.Action("Edit", "TrgovacNaMaloes", new { id = item.ID })'" class="btn btn-default">Edit</button> |
                    <button type="button" onclick="location.href='@Url.Action("Delete", "TrgovacNaMaloes", new { id = item.ID })'" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        }

    </table>
</div>

<div class="add-button">
    <button type="button" onclick="location.href='@Url.Action("Create", "TrgovacNaMaloes")'" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> ADD</button>
</div>
