﻿@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Model.Name</h2>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.DateOfBirth.HasValue)
    {
        <li>Date of Birth: @Model.DateOfBirth.Value.ToShortDateString()</li>
    }
</ul>

