﻿<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li>@Html.ActionLink("New Rental", "New", "Rentals", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Customers", "Index", "Customers", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "nav-link" })</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

