﻿body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
    Navbar
*/
.navbar-right li {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.navbar-right li a {
    color: rgba(0, 0, 0, 0.5);
}
.navbar-right li a:hover, .navbar-right li a:focus {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

/*
    Validation
*/
.field-validation-error,
label.error {
    color: red;
}

.input-validation-error,
input.error {
    border: 2px solid red;
}

.validation-summary-errors span {
    color: red;
}

/*
    Custemer and Movie table
*/
#customers_wrapper, #movie_wrapper {
    display: block;
}

#customers_length, #movie_length {
    display: inline-block;
}

#customers_length label .form-control, #movie_length label .form-control {
    margin-left: 3px;
    margin-right: 3px;
}

#customers_filter, #movie_filter {
    display: inline-block;
    float: right;
    padding-right: 10px;
}

#customers_paginate, #movie_paginate {
    float: right;
    padding-right: 10px;
}

/*
    Registration form
*/
.btn-default {
    color: #555555;
    background-color: #eeeeee;
    border-color: #e2e2e2;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #555555;
    background-color: #d5d5d5;
    border-color: #c3c3c3;
}
