﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Navbar */
.navbar-color {
    background-color: #e3f2fd;
    border-color: #e3f2fd;
}

.navbar-color .navbar-nav > li > a {
    color: #607d8f;
}

.navbar-color .navbar-nav > li > a:hover, .navbar-color .navbar-nav > li > a:focus {
    color: #03a9ec;
    background-color: transparent;
}
.navbar-color .navbar-brand {
    color: #607d8f;
    font-size: 14px;
}
.navbar-color .navbar-brand:hover,  .navbar-color .navbar-brand:focus {
    color: #03a9ec;
}
.navbar-color .navbar-toggle {
    border-color: #607d8f;
}
.navbar-color .navbar-toggle .icon-bar {
    background-color: #607d8f;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #fff;
}

/* Index */
.search-background {
    margin-top: 20px;
    background-color: #f0f2f4;
    padding: 5px;
    border: 1px solid #d9d9d9;
    margin-left: -15px;
    margin-right: -15px;
}
.headline {
    background-color: #f0f2f4;
    border: 1px solid #d9d9d9;
    margin-left: -15px;
    margin-right: -15px;
}
.headline h5 {
    font-weight: bold;
}
.add-button {
    background-color: #f0f2f4;
    padding: 10px;
    margin-left: -15px;
    margin-right: -15px;
    border: 1px solid #d9d9d9;
}

/* Table */
label {
    font-weight: normal;
    text-align: center;
}
table tr th {
    border: 1px solid #d9d9d9;
    background-color: #f0f2f4;
}
table .form-group {
    margin-bottom: 0;
    text-align: center;
}
.table-responsive {
    margin-left: -15px;
    margin-right: -15px;
}


