﻿@model MvcTrgovac.Models.MasterModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Godišnji podaci o količini kupljenih duvanskih proizvoda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SifraVDP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SifraVDP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SifraRM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SifraRM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SifraJM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SifraJM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KolicinaKupjenihPP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KolicinaKupjenihPP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KolicinKupljenihDP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KolicinKupljenihDP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KolicinaKupljenihU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KolicinaKupljenihU)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>


